.policy {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 7rem;
    gap: 3rem;
}

.policy p{
    color: gray;
}

.Service-icon{
    font-size: 45px;
    margin-bottom: 1rem;
}

.subscribe{
    width: 100%;
    text-align: center;
    line-height: 2rem;
    height: 30vh;
}

.input-btn input{
    font-size: 15px;
    padding: 15px;
    width: 30rem;
    border: 1px solid gray;
    border-radius: 0;
}

.input-btn button{
    font-size: 15px;
    width: 10rem;
    background: black;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .policy{
        width: 90%;
        height: auto;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }
    .Service-icon{
        font-size: 30px;
    }

    .subscribe{
        padding-top: 3rem;
        height: auto;
    }
    .input-btn input{
        width: 20rem;
        padding: 10px;
    }
    .input-btn button{
        padding: 12px;
        margin-top: 2rem;
    }
}